<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>RDP</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/mstsc.js"></script>
	<script type="text/javascript" src="/javascripts/keyboard.js"></script>
	<script type="text/javascript" src="/javascripts/rle.js"></script>
	<script type="text/javascript" src="/javascripts/client.js"></script>
	<script type="text/javascript" src="/javascripts/canvas.js"></script>
    <script language="javascript">
    var client = null;
    
    function load (canvas) {
    	client = Mstsc.client.create(Mstsc.$(canvas));
    } 
    
	function connect (ip, domain, username, password) {
		Mstsc.$("main").style.display = 'none';
		var canvas = Mstsc.$("myCanvas");
		canvas.style.display = 'inline';
		canvas.width = window.innerWidth;
		canvas.height = window.innerHeight;
		client.connect(ip, domain, username, password, function (err) {
			Mstsc.$("myCanvas").style.display = 'none';
			Mstsc.$("main").style.display = 'inline';
		});
	}
</script>
  </head>

  <body onload='load("myCanvas")'>

    <div id="main" class="container">
		<form class="form-signin"  onSubmit="connect();return false;">
      <button class="btn btn-lg btn-success btn-block" type="submit" style="background-color: #34A6FF; border-color: #34A6FF">Start Exam</button>
      <p>This will only work if the .seb was generated less than 8 hours ago</p>
      <p><strong>All files in the 'submit' folder in the Desktop will automatically submitted when the exam is quit.</strong></p>
		</form>
    </div> <!-- /container -->
    <canvas id="myCanvas" style="display:none">
  </body>
</html>
